layout {

    focus-ring {
        active-color   "#dbc675"
        inactive-color "#15130e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#dbc675"
        inactive-color "#15130e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#dbc675"
        inactive-color "#a39045"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#dbc67580"
    }
}

recent-windows {
    highlight {
        active-color "#dbc675"
        urgent-color "#ffb4ab"
    }
}
